
.aya_container {
/*    background-color: #CCCCCC;
    margin-bottom: 10px;
    margin-top: 10px;   */
    position: relative;
}

.hl_container {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px 10px;
    z-index: 50;
    direction: rtl;
    text-align: right;
    visibility: hidden;
}

@font-face
{
    font-family: Custom_Quran_Font;
    src: url('me_quran.ttf');
}

.aya_text {
    position: relative;
    top: 0px;
    right: 0px;
    margin: 10px;                
    z-index: 100;
    text-align: right;
    direction: rtl;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    line-height: 40px;
    word-spacing: 5px;
}

.hl_block {
    background-color: #fdf499;
}
